@charset "UTF-8";

:root {
    --corFundo: #E6FFE6;
    --corDetalhes: #008000;
    --corBranco: #FFFFFF;
    --corTextos: #8BC02B;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(/fonts/Inter/static/Inter-Bold.ttf);
}

@keyframes moverBarra {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

body{
    background-color: var(--corBranco);
    margin: 0px;
    overflow-y: hidden;
    font-family: Inter;
    overflow-x: hidden;
}
* {
    margin: 0px;
    padding: 0px;
}
/* Rever essa parte do css */


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    display: block;
    width: 100%;
    color: #008000;
    text-align: center;
}
.escolha{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: rgba(139, 191, 43, 70%);
    position: relative;
}
.escolha p{
    display: inline-block;
    padding: 10px;
    font-family: Inter-bold;
    color: white;
    cursor: pointer;
    width: 50%;
    border: 1.5px solid #8BC02B;
}
#todas{
    display: flex;
    flex-wrap: wrap;
}
#minhas{
    display: none;
}
.barra{
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
}
.barrinha{
    height: 2.5px;
    background-color: #008000;
    width: 50%;
}


.dica{
    background-color: white;
    width: 250px;
    border: 2px solid #008000;
    border-radius: 10px;
    text-align: center;    
    background-color: rgba(139, 191, 43, 50%);
    transition: 0.5s;
    margin: 10px;
}
.divImg{
    height: 58.86px;
}
.foto{
    max-width: 70px;
    padding-top: 5px;
}
.infos{
    background-color: white;
    border-top: 1px solid #8BC02B;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    box-sizing: border-box;
    height: 64.4px;
}
.titulo{
    color: #008000;
    font-family: Inter-bold;
}
.autor{
    text-align: left;
    font-size: 12px;
}
.autorNome{
    color: #8BC02B;
}
.dica:hover{
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 30%);
}
.viewDica{
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 30%);
    display: none;
    justify-content: center;
    align-items: center;

}
.containerDica{
    background-color: white;
    border-radius: 10px;
    border: 2px solid #008000;
    width: 500px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 60%);
}
h2{
    color: #008000;
    text-align: center;
    border-bottom: 1px solid #8BC02B;
    padding: 5px;
}
h4{
    color: #8BC02B;
    margin: 10px;
    margin-left: 20px;
    text-align: left;
}
ul{
    margin-left: 70px;
}
ol{
    margin-left: 70px;
    text-align: justify;
}
.imgDicaAbertaDiv{
    margin: 15px auto;
    text-align: center;
}
.imgDicaAberta{
    max-width: 480px;
}
button{
    width: 95%;
    display: block;
    margin: auto;
    font-family: Inter;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#btEditar{
    background-color: #8BC02B;
}
#btExcluir{
    background-color: rgba(255, 0, 0, 75%);
    margin: 10px auto;
}
.criador{
    font-size: 14px;
    background-color: rgba(139, 191, 43, 50%);
    text-align: center;
    border-top: 1px solid #8BC02B;
}
#deletarDiv{
    background-color: white;
    position: absolute;
    text-align: center;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid #008000;
    display: none;
}
#deletarDiv i{
    font-size: 30px;
    color: #008000;
}
#deletarDiv button{
    display: inline-block;
    width: 100px;
    margin: 10px;
}
#excluir{
    background-color: #8BC02B;
}
#cancelar{
    background-color: rgba(0, 0, 0, 50%);
}
.btForm{
    text-decoration: none;
    font-size: 30px;
    background-color: #008000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

#aviso{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#aviso i{
    color: #8BC02B;
    font-size: 50px;
}
.avisoMsg{
    font-family: Inter-bold;
    font-size: 30px;
    color: rgba(0, 0, 0, 80%);
    height: calc(100vh - (101.6px + 170px));
}