@charset "UTF-8";

:root {
    --corFundo: #E6FFE6;
    --corDetalhes: #008000;
    --corBranco: #FFFFFF;
    --corTextos: #8BC02B;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(/fonts/Inter/static/Inter-Bold.ttf);
}
body{
    background-color: var(--corBranco);
    margin: 0px;
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color:var(--corFundo);
    border: 1px solid var(--corDetalhes);
}

#logo {
    height: 10vh;
    padding: 5px;
    position: absolute;
}

#logo:hover {
    filter: opacity(80%);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

#burguer {
    color: var(--corDetalhes);
    display: block;
    text-align: right;
    padding: 28px;
    cursor: pointer;
}

.menu {
    display: none;
}

.menu > ul {
    list-style-type: none;
}

.menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--corDetalhes);
    font-size: 15px;
    font-family: Inter;
    color: var(--corBranco);
    border-top: 2px solid var(--corBranco);
}

.menu > ul > li > a:hover {
    background-color: #8BC02B;
}

#atual {
    color: var(--corTextos);
}

#nomeUsuario {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    margin: -45px -100px;
    font-family: Inter;
    font-size: 15px;
    color: black;
}

#nomeUsuario:hover {
    color: var(--corTextos);
}

.perfil {
    display: none;
    text-align: right;
    margin: 0px 10px 0px 710px;
}

#perfil {
    text-align:  right;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #008000;
}

.linkPerfil {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > h1 {
    font-family: 'Inter-bold';
    color: var(--corDetalhes);
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

table {
    width: 80vw;
    text-align: center;
    border: 2px solid #8BC02B;
    border-radius: 10px 10px 0px 0px;
}

thead {
    color: #008000;
    background-color: #E6FFE6;
}

th {
    padding: 8px;
    border-bottom: 2px solid #8BC02B;
    font-family: 'Inter';
}

tbody {
    box-shadow: inset -10px -10px 5px rgba(0, 0, 0, 30%);
}

td {
    border-bottom: 1px solid #008000;
}

.imgPerfil {
    width: 30px;
}