@charset "UTF-8";

:root {
    --corFundo: #E6FFE6;
    --corDetalhes: #008000;
    --corBranco: #FFFFFF;
    --corTextos: #8BC02B;
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(/fonts/Inter/static/Inter-Bold.ttf);
}
@keyframes notificar{
    0%{
        opacity: 0;
        display: none;
        transform: translateY(200px);
    }
    25%{
        opacity: 1;
        display: block;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
        display: block;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        display: none;
        transform: translateY(200px);
    }
}
body{
    background-color: var(--corBranco);
    margin: 0px;
    overflow-y: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color:var(--corFundo);
    border: 1px solid var(--corDetalhes);
}

#logo {
    height: 12vh;
    padding: 5px;
    position: absolute;
}

#logo:hover {
    filter: opacity(80%);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}

#burguer {
    color: var(--corDetalhes);
    display: block;
    text-align: right;
    padding: 28px;
    cursor: pointer;
}

.menu {
    display: none;
    margin-bottom: -16px;
}

.menu > ul {
    list-style-type: none;
}

.menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--corDetalhes);
    font-size: 15px;
    font-family: Inter;
    color: var(--corBranco);
    border-top: 2px solid var(--corBranco);
    margin: 0px 0px 0px -40px;
}

.menu > ul > li > a:hover {
    background-color: #8BC02B;
}

#atual {
    color: var(--corTextos);
}

#nomeUsuario {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    margin: -45px -75px;
    font-family: Inter;
    font-size: 15px;
    color: black;
}

#nomeUsuario:hover {
    color: var(--corTextos);
}

.perfil {
    display: none;
    text-align: right;
    margin: 0px 10px 0px 710px;
}

#perfil {
    text-align:  right;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #008000;
}

.linkPerfil {
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > h1 {
    font-family: 'Inter-bold';
    color: var(--corDetalhes);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.imgPerfil {
    width: 30px;
}

span{
    font-size: 30px;
    font-weight: 700;
}
   
.numbers{
    padding: 50px;
}

.botoes {
    margin-top: 60px;
}

.botoesTelas {
    margin-top: 50px;
    display: inline-block;
    justify-content: space-around;
}

.botoesTelas > a {
    background-color: #008000;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 10px;
}

#estatistica, #historico {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #008000;
    color: white;
    border: none;
    transition: 0.8s;
    cursor: pointer;
}

#estatistica:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray;
    background-color: #008000cc;
}

#historico:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px gray;
    background-color: #008000cc;
}

.sucesso{
    border: 2px solid #008000;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 40%;
    display: none;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 50%);
}
p{
    margin: 0px;
    padding: 0px;
}
.certo{
    color: #008000;
    font-size: 50px;
}
.ponto{
    margin-bottom: 0px;
}

#erro{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.erro{
    font-family: Inter;
    width: 400px;
    border: 2px solid #008000;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: black;
    font-family: Inter-bold;
    position: relative;
}
#msgErro{
    color: black;
}
.erro i{
    font-size: 40px;
    color: rgba(255, 0, 0, 80%);
}
#close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    transition: 1s;
    cursor: pointer;
    font-size: 20px;
}
#close:hover{
    transform: scale(1.3);
    color: #8BC02B;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}